@import 'tailwindcss';
@import '@hearst/ui/styles/platform.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--ds-font-sans);
  --font-mono: var(--ds-font-mono);
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
